{erl_opts, [native, bin_opt_info, debug_info, verbose]}.
{cover_enabled, true}.

{port_envs, [
    {"CC",          "g++"},
    {"DRV_CFLAGS",  "-I/usr/include/libxml2 -DDEBUG"},
    {"DRV_LDFLAGS", "-lxml2 -lxslt c_src/erlxslt_util.o"}
]}.

{port_sources, ["c_src/erlxslt_util.c", "c_src/erlxslt_adapter.c"]}.
{so_specs, [{"priv/cbin/erlxslt_adapter", ["c_src/erlxslt_adapter.o"]}]}.
{so_name, "erlxslt_adapter"}.
