{erl_opts, [native, bin_opt_info, debug_info, verbose]}.
{cover_enabled, true}.

{port_envs, [
    {"CC",          "gcc"},
    {"DRV_CFLAGS",  "-I/usr/include/libxml2 -DDEBUG"},
    {
        "DRV_LDFLAGS",
        "-lxml2 -lxslt "
    }
]}.

{
    port_sources,
    [
        "c_src/erlxslt_transform.c",
        "c_src/erlxslt_trie.c",
        "c_src/erlxslt_port.c",
        "c_src/erlxslt_adapter.c"
    ]
}.
{
    so_specs,
    [
        {
            "priv/cbin/erlxslt_adapter",
            [
                "c_src/erlxslt_adapter.o "
                "c_src/erlxslt_transform.o "
                "c_src/erlxslt_trie.o "
                "c_src/erlxslt_port.o "
            ]
        }
    ]
}.

{so_name, "erlxslt_adapter"}.
