{erl_opts, [native, bin_opt_info, debug_info, verbose]}.
{cover_enabled, true}.

{port_envs, [
    {"CC",          "g++"},
    {"DRV_CFLAGS",  "-I/usr/include/libxml2 -DDEBUG"},
    {"DRV_LDFLAGS", "-lxml2 -lxslt"}
]}.

{port_sources, ["c_src/libxslt_adapter.c"]}.
{so_specs, [{"priv/cbin/libxslt_adapter", ["c_src/libxslt_adapter.o"]}]}.
{so_name, "libxslt_adapter"}.
